* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #696880;
    font-family: "Roboto Condensed", sans-serif;
}

.carousel {
    display: flex;
    align-items: center;
    position: relative;
    width: 800px;
    height: 450px;
    overflow: hidden;
}

.carousel img {
    position: absolute;
    right: 20%;
    width: 60%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, opacity 0.5s ease;
    cursor: pointer;
}

.carousel img.main {
    transform: scale(1);
    opacity: 1;
    z-index: 2;
}

.carousel img.side {
    width: 20%;
    opacity: 0.5;
    transform: scale(0.9);
    z-index: 1;
}

.nav-button {
    position: absolute;
    height: 90%;
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    color: red;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    padding: 10px;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}

.nav-button.left {
    left: 10px;
}

.nav-button.right {
    right: 10px;
}